* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(47 59 70);
}

img {
    max-width: 100%;
}

.container {
    width: 60%;
    padding: 2em;
    margin: 0 auto;
    background-color: white;
}